<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
<p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>
<button class="btn btn-warning"><%= link_to "Create new restaurant", restaurants_new_path%></button>
